/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

/* about-button */
.x-btn .icon-geoexplorer {
    background-image: url(/theme/app/img/geoexplorer.png);
}

/* Login Button */
.x-btn .login {
    background-image: url(/theme/app/img/silk/door_in.png);
}

/* Logout Button */
.x-btn .logout {
    background-image: url(/theme/app/img/silk/door_out.png);
}

.olControlAttribution {
    text-align: right;
    font-size: 9px;
    bottom: 2px;
}
